@use "@scss/vars/_index.scss" as v;
.root {
  height: v.$header-height;
  background: var(--header-bg-color);
  box-shadow: 0 5px 5px -5px rgba(34, 60, 80, 0.6);
  position: fixed;
  z-index: 100;
  display: flex;
  width: 100%;
  align-items: center;
  //margin-bottom: 10px;
}

.offset {
  height: v.$header-height;
}
