@use "@scss/vars/_index.scss" as v;

.mobile-nav-menu-wrapper {
  position: relative;
  height: 100%;
}

.mobile-nav-menu {
  position: absolute;
  font-size: 4.8rem;
  z-index: 1000;
  left: 0;
  top: 100%;
  width: 100%;
  height: calc(100vh - #{v.$header-height});
  background: v.$header-bg-color;
  transition: visibility 0.3s linear,opacity 0.3s linear;
}

.idle-menu {
  visibility: hidden;
  opacity: 0;
}

.finish-menu {
  visibility: visible;
  opacity: 1;
}
