.link {
  color: black;
  transition: color 0.3s ease;
  &:hover {
    color: var(--hover-nav-link);
  }
}

.activeLink {
  color: var(--active-nav-link);
  transition: color 0.3s ease;
  &:hover {
    color: var(--hover-nav-link);
  }
}
