@use "@scss/vars/_index.scss" as v;

.root{
  display: flex;
  justify-content: stretch;
  height: calc(100vh - #{v.$header-height});
  overflow: hidden;
}

.img{
  width: 100%;
  object-fit: cover;
}
