.root {
  min-height: 500px;
  background-color: black;
  flex-wrap: nowrap;
  justify-content: stretch;
  color: white;
}

.root > div {
  width: 50%;
}

.img {
  width: 100%;
  border-radius: 4px;
}
